<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<img src="/static/logo.png" alt="FilmFinder AI" class="logo">
<div class="container">
    <h2>Login</h2>

    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <p>New user? <a href="/signup_page">Create an account</a></p>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert">
      {% for msg in messages %}
        <p>{{ msg }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</body>
</html>